/* General Styling */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Table Styling */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

/* Styling for Role Dropdown */
.form-select {
    font-size: 14px;
    border-radius: 10px;
}

/* Buttons Styling */
.btn-success {
    display: block;
    width: fit-content;
    margin: 0  20px;
}

.btn-danger {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}

form {
    max-width: 500px;
    padding:0px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
