{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block content %}
<h1>Create Event</h1>
<form method="POST">
    {{ form.hidden_tag() }}

    <p>{{ form.title.label }} {{ form.title }}</p>
    <p>{{ form.description.label }} {{ form.description(style="width: 100%; height: 100px;") }}</p>
    <p>{{ form.location.label }} {{ form.location }}</p>
    <p>{{ form.date.label }} {{ form.date }}</p>
    <p>{{ form.time.label }} {{ form.time }}</p>
    <p>{{ form.max_attendees.label }} {{ form.max_attendees }}</p>

    <p>{{ form.submit }}</p>
</form>
{% endblock %}
